body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -webkit-transition: top .5s, left .5s;
  transition: top .5s, left .5s;
  background-size: cover;
}
.square{
  -webkit-transition: width 2s, height .5s;
  transition:width 2s, height .5s;
  background-color: teal;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: none;
  animation-name: rotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes rotation{ 
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotation{ 
  0% {-webkit-transform: rotate(0deg);}
  50% {-webkit-transform: rotate(180deg);}
  100% {-webkit-transform: rotate(360deg);}
}
.square.expand {
  width: 60px;
  height: 60px;
}
.beyonce {
  background-image: url('Beyonce.png');
  background-size: cover;
}

